* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color:#000;
}
html,body {
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: #000;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(141, 209, 231);
    padding: 5vw 0;
}

#page2 h1{
    font-size: 40vw;
    text-transform: uppercase;
    font-weight: 600;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: #000;
}